html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
@font-face{
	font-family: "Noto Sans";
	src: url("/font/NotoSans-Bold.ttf") format('truetype');
	font-style:bold;
}
@font-face{
	font-family: "Noto Sans";
	src: url("/font/NotoSans-Regular.ttf") format('truetype');
	font-style:normal;
}

:root { 
	--transparent: rgba(0,0,0,0);
	--transparent_hover: rgba(0, 204, 255, 0.2);
	--transparent_active: rgba(0, 204, 255, 0.5);
	--links:rgb(0,100,200);
	--links_visited: rgb(167, 66, 245);
	--fonts: "Noto Sans", sans-serif;
  }

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-size: 18px;
	font-family: "Noto Sans", sans-serif;
	border: 1px solid black;
}

a {
	color: var(--links);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--links_visited);
}

label {
	display: block;
}

input, button, select, textarea, .field {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.maincontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0.5em 0 3em 0;
}

.maincontainer > * {
	margin: 0.5em 0;
}

.buttonbox .mainbutton {
	margin-left: auto
}

div.buttonbox {
	display: flex;
	flex-direction: column;
	justify-content: right;
	background-color: black;
	color: white;
	padding: 20px;
}

div.buttonbox.white {
	background-color: white;
	color: black;
}

input,.mainbutton, .field {
	color: black;
	border: 1px solid black;
	border-radius: 6px;
	font-size: 1em;
	padding: 10px;
	background-color: var(--transparent);
}
label {
	font-size: 0.8em;
	text-transform: uppercase;
	font-style: bold;
}
.mainbutton.white {
	color: white;
	border: 1px solid white;
}

input.dashed {
	border-radius: 0px;
	border-width: 0;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}

button.linkstyle {
	text-decoration: underline;
	color: var(--links);
	border: 0px;
	background-color: transparent;
}